<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA=Compatible" content="ie=edge">
    <title>Cancer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
      html{
        padding:50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <a href="/login">login</a>
        <a href="/signup">register</a>
      </div>
    </div>
  </body>
</html>
