<!DOCTYPE html>
<html lang="">
<head>
<title>Camin</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../assets/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top" style="background-color:white;">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul>

        <li><i class="fa fa-envelope-o"></i> Camin@gmail.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul>
        <li><a href="/"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Register</a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper" style="background-color: white; height: 70%; padding-top: 100px;text-align:center;">
  <h1 style="text-align : center;color: black;">To be able to access the site, you must either log in or register, with a valid student id.</h1>
  <a href="/login"><button type="button" class="btn btn-primary" style="margin-top:50px;">Login</button></a><br>
  <a href="/signup"><button type="button" class="btn btn-primary" style="margin-top:50px;">Register</button></a>
</div>
<div class="wrapper row5" style="height:70px;position:absolute;bottom:0;">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Cpy rigt &copy; Cpy rigt - <a href="#">nume aici</a></p>
    <p class="fl_right">Camin</p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../assets/scripts/jquery.min.js"></script>
<script src="../assets/scripts/jquery.backtotop.js"></script>
<script src="../assets/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
