<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%if(data.length){%>
    <%for(var i = 0; i < data.length; i++){ %>
    <p>id: <%=data[i].id%></p>
    <p>author: <%=data[i].author%></p>
    <p>text: <%=data[i].text%></p>
    <p>date: <%=data[i].date%></p>
    <% } %>
    <%} %>

  </body>
</html>
